<div class="about">
    <h2 class="about__header">About me</h2>

    <p class="about__text">I'm a web developer based in Cardiff, South Wales, specialising in front-end development.</p>

    <p class="about__text">I love creating awesome stuff using frameworks such as Angular, AngularJS, React, etc. although I'm equally happy working with vanilla Javascript (or TypeScript).</p>

    <p class="about__text">I'm a strong advocate of test driven development, automation, and I love trying out new tech.</p>
</div>
