<ul class="social-list">
    <!-- E-mail -->
    <li class="social-list__item social-list__item--email">
        <a href="mailto:{{ site.email }}" class="social-list__link">
            <span class="social-list__icon-container">
                <i class="social-list__icon fa fa-envelope"></i>
            </span>

            <span class="social-list__text">{{ site.email }}</span>
        </a>
    </li>

    <!-- Twitter -->
    <li class="social-list__item social-list__item--twitter">
        <a href="https://twitter.com/{{ site.twitter_username }}" class="social-list__link">
            <span class="social-list__icon-container">
                <i class="social-list__icon fa fa-twitter"></i>
            </span>

            <span class="social-list__text">@{{ site.twitter_username }}</span>
        </a>
    </li>
    
    <!-- LinkedIn -->
    <li class="social-list__item social-list__item--linkedin">
        <a href="https://uk.linkedin.com/in/tom-seldon-a3a4504a" class="social-list__link">
            <span class="social-list__icon-container">
                <i class="social-list__icon fa fa-linkedin"></i>
            </span>

            <span class="social-list__text">LinkedIn</span>
        </a>
    </li>

    <!-- GitHub -->
    <li class="social-list__item social-list__item--github">
        <a href="https://github.com/{{ site.github_username }}" class="social-list__link">
            <span class="social-list__icon-container">
                <i class="social-list__icon fa fa-github"></i>
            </span>

            <span class="social-list__text">GitHub</span>
        </a>
    </li>
</ul>
