html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    background-repeat: repeat;
    background-attachment: fixed;
    background-image: url('/assets/images/noisy.png');
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: auto;
    margin: 0 2em;

    @media all and (-webkit-min-device-pixel-ratio : 1.5),
        all and (-o-min-device-pixel-ratio: 3/2),
        all and (min--moz-device-pixel-ratio: 1.5),
        all and (min-device-pixel-ratio: 1.5) {
        background-image: url('/assets/images/noisy@2X.png');
        background-size: 300px 300px;
    }
}

.page-container {
    margin: 0 auto;
    width: 100%;

    @media all and (min-width: 1240px) {
        width: 1180px;
    }
}
