.home {
    min-height: 100%;

    .logo--home {
        cursor: default;
        margin-top: 1em;
    }

    &__icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 7em;
        margin-bottom: 4em;
    }

    &__icon {
        color: #999;
        color: rgba(140, 140, 140, 0.6);
        flex-basis: 20%;
        margin-bottom: 3em;
        text-align: center;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
            border-bottom: none;
            color: #666;
            color: rgba(100, 100, 100, 0.8);
        }

        &-label {
            cursor: pointer;
            display: block;
            font-weight: 400;
            margin-top: 1em;
        }
        
        &-icon {
            font-size: 3em;
            transition: color 0.2s ease-in;
        }

        &--email:hover {
            .home__icon-icon {
                color: $color-social-email;
            }
        }

        &--twitter:hover {
            .home__icon-icon {
                color: $color-social-twitter;
                color: $color-social-twitter-rgba;
            }
        }

        &--linkedin:hover {
            .home__icon-icon {
                color: $color-social-linkedin;
            }
        }

        &--github:hover {
            .home__icon-icon {
                color: $color-social-github;
            }
        }

        &--blog:hover {
            .home__icon-icon {
                color: $color-social-blog;
            }
        }
    }
}
