---
layout: blog
---

<div class="post-list">
    <div class="post-list__intro">
        {{ content }}
    </div>

    <ul class="post-list__posts">
        {% for post in site.posts %}
        <li class="post-list__post">
            <h2 class="post-list__post-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>

            <div class="post-list__post-metadata">
                <span class="post-list__post-date">{{ post.date | date_to_long_string }}</span>
            </div>
        
            <div class="post-list__post-excerpt">{{ post.excerpt }}</div>

            <a href="{{ post.url | relative_url }}" class="post-list__read-more">Read more <i class="post-list__read-more-icon fa fa-chevron-right"></i></a>
        </li>
        {% endfor %}
    </ul>
</div>
